::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #3f78c4;
}
::-webkit-scrollbar-thumb:active {
    background: #3f78c4;
}
@font-face {
    font-family: RooneySans;
    src: url(../fonts/RooneySans.ttf);
}
::placeholder {
    font-style: italic;
    font-size: 14px;
}
html {
    scroll-behavior: smooth;
}
body {
    background: url(../img/background.png);
    background-size:calc(100% + 17px) calc(100% + 17px);
    background-position: -8px -8px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: RooneySans;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}
button {
    transition: ease-in-out 0.3s;
    cursor: pointer;
    outline: none;
}
#titlebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    height: 35px;
    max-height: 35px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}
#titlebar #icons button {
    -webkit-app-region: no-drag;
    width: 17px;
    height: 17px;
    padding: 2px;
    font-size: 8px;
    margin-right: 5px;
    font-weight: bold;
}
#titlebar #icons {
    float: right;
}
#titlebar .container #title {
    float: left;
    margin-left: 5px;
    color: #dcdcdc;
}
.red {
    background: #ed6a5e;
    color: transparent;
    border: 1px solid #8a3d36;
    transition: 0.1s;
}
.red:hover {
    color: #8a3d36;
    transition: 0.1s;
}
.green {
    background: #61c555;
    color: transparent;
    border: 1px solid #2a5424;
    transition: 0.1s;
}
.green:hover {
    color: #2a5424;
    transition: 0.1s;
}
.yellow {
    background: #f4c04e;
    color: transparent;
    border: 1px solid #695323;
    transition: 0.1s;
}
.yellow:hover {
    color: #695323;
    transition: 0.1s;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.center {
    display: flex;
    justify-content: center;
}
#content {
    position: absolute;
    top: 40px;
    left: 200px;
    right: 0;
    bottom: 0;
}
.container {
    padding: 8px;
}
p {
    color: #dcdcdc;
}
#version {
    position: absolute;
    bottom: 0;
    margin-left: 40px;
    padding: 5px;
    color: #dcdcdc;
    font-weight: bold;
}
button:not(#minimize, #maximize, #close) {
    transition: ease-in-out 0.3s;
    padding: 5px;
    min-width: 100px;
    min-height: 30px;
    border: 1px solid #2a3038;
    color: #dcdcdc;
    background: transparent;
}
button:not(#minimize, #maximize, #close, :disabled):hover {
    background: #2b313b;
    background: rgba(24, 31, 39, 0.5);
}
button:not(#minimize, #maximize, #close, :disabled):active {
    background: rgba(24, 31, 39, 0.6);
}
button:not(#minimize, #maximize, #close):disabled {
    opacity: 0.5;
    cursor: default;
}
#side-bar {
    position: absolute;
    z-index: -1000;
    left: 0;
    top: 38px;
    bottom: 0;
    width: 200px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    background: rgba(24, 31, 39, 0.5);
}
#side-bar button {
    width: 100%;
    padding: 12px;
    border: none;
    background: transparent;
    color: #dcdcdc;
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.1s;
}
#side-bar button:disabled {
    opacity: 0.5;
}
#menuitems {
    margin-top: 20px;
}
#settings {
    transition: ease-in-out 0.3s;
    position: absolute;
    bottom: -12px;
    left: 10px;
    font-size: 28px;
    cursor: pointer;
}
#settings:hover {
    transition: ease-in-out 0.3s;
    rotate: 90deg;
}
#progress-container {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    height: 22px;
    background: #181f27;
    background: rgba(24, 31, 39, 0.5);
    z-index: 1000;
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.5);
}
#progress {
    height: 100%;
    background: #61c555;
    background: linear-gradient(to right, #61c555, #238636);
    opacity: 0.8;
    width: 0;
    transition: 0.1s;
}
#progress-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #dcdcdc;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
}
.notification-bar {
    position: fixed;
    right: 5px;
    top: 55px;
    border-right: 4px solid #238636;
    height: 35px;
}
.notification-bar .notification-content {
    color: #dcdcdc;
    padding: 7px;
    margin-right: 5px;
    margin-left: 5px;
}
.notification-bar .notification-close {
    color: #dcdcdc;
    position: absolute;
    padding: 8px;
    right: 5px;
    -webkit-user-select: none;
    user-select: none;
}
.notification-bar .notification-close:hover {
    color: #ed6a5e;
    cursor: pointer;
}
#console {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    height: 200px;
    background: rgba(24, 31, 39, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
#console #console-content {
    color: #dcdcdc;
    overflow-y: scroll;
    word-wrap: break-word;
    height: 98%;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-mask-image: -webkit-gradient(linear, left 30%, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    -webkit-user-select: text;
    user-select: text;
}
#console #console-content p {
    border-bottom: 1px solid #2a3038;
}
#clearconsole {
    position: absolute;
    z-index: 1000;
    top: 5px;
    right: 10px;
    color: #ed6a5e;
    font-size: 18px;
}
#clearconsole:hover {
    color: #be544a;
    cursor: pointer;
}
input {
    transition: ease-in-out 0.1s;
    outline: none;
    background: rgba(24, 31, 39, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(36, 46, 59, 0.5);
    color: #dcdcdc;
    padding: 8px;
    height: 21px;
}
input:hover:not(:focus) {
    border: 1px solid #434c58;
}
input:focus {
    border: 1px solid #3f78c4;
}
#playerdetails {
    position: absolute;
    left: 30px;
    top: 25px;
}
#playerdetails p {
    font-weight: bold;
}

.custom-select {
    position: relative;
    border: 1px solid rgba(36, 46, 59, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: rgba(24, 31, 39, 0.5);
}

.custom-select:hover:not(:focus) {
    transition: ease-in-out 0.1s;
    border: 1px solid #434c58;
}
.custom-select select {
    display: none;
}
.select-selected {
    background: transparent;
    border: 1px solid #3f78c4;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
}
.select-items {
    position: absolute;
    background: rgba(24, 31, 39, 0.5);
    border-left: 1px solid rgba(36, 46, 59, 0.5);
    border-right: 1px solid rgba(36, 46, 59, 0.5);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    transition: ease-in-out 0.1s;
    background: rgba(63, 121, 196, 0.3)
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v108/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }